# HPC
mongodb/
openssl-1.1.1w/
*slurm*
*.out
data/
EmbeddingModel/
*log*
spare_data/

# Cache
__pycache__/

# Usages
quicktest.py
reranker/
model/

# Environment
.env*
.rag_vevn/

# Key
key/

# Build
*.bak
*.tar*
*.zip
*.rar
*.7z
*.iso
*.dmg
*.pkg
*.deb
*.rpm
*.msi
*.exe